# <font color='blue'>Imports </font>

In [19]:
import pandas as pd
import numpy as np
import seaborn as sns
import lightgbm
from matplotlib import pyplot as plt
import matplotlib.ticker as ticker
from matplotlib.pyplot import figure
from matplotlib import rc
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import r2_score, explained_variance_score, confusion_matrix, accuracy_score, classification_report, log_loss, brier_score_loss

In [32]:
path = 'D:\\Meus Documentos\\Python\\Notebooks\\Datascience\\Classification_datascience\\webscrapping\\matches\\rounds\\'
dataset = pd.read_csv('{}combined_csv.csv'.format(path))

In [33]:
dataset = dataset.drop(['bestOF', 'RoundNumber', 'SeriesID', 'MatchID', 'RoundID', 'RoundTime'], axis=1)

In [34]:
dataset = pd.get_dummies(dataset, columns=['MapName'])

In [35]:
X = dataset.drop(['FinalWinner'], axis='columns')
Y = dataset.FinalWinner

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, train_size=0.8, test_size=0.2, random_state=15)
X_train, X_valid, Y_train, Y_valid = train_test_split(X_train, Y_train, train_size=0.9, test_size=0.1, random_state=15)

# <font color='blue'>Model </font>

In [36]:
LGBM = lightgbm.LGBMClassifier(boosting_type="dart")
LGBM.fit(X_train, Y_train)

LGBMClassifier(boosting_type='dart')

# <font color='blue'>Testing </font>

In [37]:
data = {'ATK_wealth': [3320, 3320, 2740, 2740, 1740, 1740, 1740, 1160, 580, 0],
        'DEF_wealth': [2900, 2320, 2320, 2320, 2320, 1740, 1160, 1160, 1160, 1160],
       'ATK_alive': [5,5,4,4,3,3,3,2,1,0],
       'DEF_alive': [5,4,4,4,4,3,2,2,2,2],
       'Def_has_OP': [0,0,0,0,0,0,0,0,0,0],
       'Def_has_Odin': [0,0,0,0,0,0,0,0,0,0],
       'Spike_1_beep': [0,0,0,0,1,1,1,1,1,0],
       'Spike_2_beep': [0,0,0,0,0,0,0,0,0,1],
       'MapName_Ascent': [0,0,0,0,0,0,0,0,0,0],
       'MapName_Bind': [0,0,0,0,0,0,0,0,0,0],
       'MapName_Breeze': [0,0,0,0,0,0,0,0,0,0],
       'MapName_Haven': [0,0,0,0,0,0,0,0,0,0],
       'MapName_Icebox': [0,0,0,0,0,0,0,0,0,0],
       'MapName_Split': [1,1,1,1,1,1,1,1,1,1]}

In [38]:
round_test = pd.DataFrame(data)

for i in range(0, 10):
    aux = LGBM.predict_proba(round_test.loc[i,:].to_numpy().reshape(1,-1))[0][0]
    print("{}%".format(round(aux, 3)*100))

50.2%
32.2%
49.9%
49.9%
72.2%
50.4%
24.8%
49.7%
81.39999999999999%
97.0%

# <font color='blue'>Query </font>

In [39]:
df = pd.read_csv('{}combined_csv.csv'.format(path))

In [43]:
df.query('RoundID == 403022')

,RoundID,RoundNumber,RoundTime,ATK_wealth,DEF_wealth,ATK_alive,DEF_alive,DEF_has_OP,Def_has_Odin,Spike_1_beep,Spike_2_beep,MapName,MatchID,SeriesID,bestOF,FinalWinner
403452,403022,18,0,3320.0,2900.0,5,5,0,0,0,0,Split,12751,502,5,0
403453,403022,18,93169,3320.0,2320.0,5,4,0,0,0,0,Split,12751,502,5,0
403454,403022,18,94531,2740.0,2320.0,4,4,0,0,0,0,Split,12751,502,5,0
403455,403022,18,99180,2740.0,2320.0,4,4,0,0,0,0,Split,12751,502,5,0
403456,403022,18,115785,1740.0,2320.0,3,4,0,0,1,0,Split,12751,502,5,0
403457,403022,18,116135,1740.0,1740.0,3,3,0,0,1,0,Split,12751,502,5,0
403458,403022,18,120295,1740.0,1160.0,3,2,0,0,1,0,Split,12751,502,5,0
403459,403022,18,121229,1160.0,1160.0,2,2,0,0,1,0,Split,12751,502,5,0
403460,403022,18,121882,580.0,1160.0,1,2,0,0,1,0,Split,12751,502,5,0
403461,403022,18,128981,0.0,1160.0,0,2,0,0,0,1,Split,12751,502,5,0