## Imports

In [5]:
from webscrapping.database.sql_queries import ValorantQueries
from webscrapping.impact.match_analysis import train_model
from webscrapping.model.lgbm_model import ValorantLGBM
from webscrapping.model.analyse_json import Analyser

import pandas as pd
from random import sample
from typing import List

## Dataset

In [11]:
vm = ValorantLGBM("500.csv")
a = Analyser()
a.set_match(44795)
vm.set_default_features_without_multicollinearity()
vm.train_model()
model = vm.model

Analyser created!

In [27]:
df = a.export_df()
df = df[df["RoundNumber"] == 12]
df = df[["RegularTime", "SpikeTime",
         "ATK_loadoutValue", "ATK_operators", "ATK_Initiator", "ATK_Duelist", "ATK_Sentinel", "ATK_Controller",
         "DEF_loadoutValue", "DEF_operators", "DEF_Initiator", "DEF_Duelist", "DEF_Sentinel", "DEF_Controller"]]
df

,RegularTime,SpikeTime,ATK_loadoutValue,ATK_operators,ATK_Initiator,ATK_Duelist,ATK_Sentinel,ATK_Controller,DEF_loadoutValue,DEF_operators,DEF_Initiator,DEF_Duelist,DEF_Sentinel,DEF_Controller
95,0,0,26850,1,2,1,1,1,16850,0,0,2,2,1
96,50,0,19750,0,2,1,0,1,16850,0,0,2,2,1
97,65,0,19750,0,2,1,0,1,12150,0,0,2,1,1
98,66,0,19750,0,2,1,0,1,8150,0,0,1,1,1
99,68,0,14350,0,1,1,0,1,8150,0,0,1,1,1
100,69,0,14350,0,1,1,0,1,6250,0,0,1,0,1
101,70,0,9750,0,1,0,0,1,6250,0,0,1,0,1
102,83,0,5400,0,1,0,0,0,6250,0,0,1,0,1
103,90,0,0,0,0,0,0,0,6250,0,0,1,0,1

In [28]:
model.predict_proba(df)

array([[0.31233637, 0.68766363],
       [0.5648318 , 0.4351682 ],
       [0.22653308, 0.77346692],
       [0.07572764, 0.92427236],
       [0.22784265, 0.77215735],
       [0.12151071, 0.87848929],
       [0.34975235, 0.65024765],
       [0.66982294, 0.33017706],
       [0.98824018, 0.01175982]])

In [22]:
vm.features

['RegularTime',
 'SpikeTime',
 'ATK_loadoutValue',
 'ATK_operators',
 'ATK_Initiator',
 'ATK_Duelist',
 'ATK_Sentinel',
 'ATK_Controller',
 'DEF_loadoutValue',
 'DEF_operators',
 'DEF_Initiator',
 'DEF_Duelist',
 'DEF_Sentinel',
 'DEF_Controller']

In [23]:
df

,RegularTime,SpikeTime,RoundTime,ATK_loadoutValue,ATK_operators,ATK_Initiator,ATK_Sentinel,ATK_Controller,DEF_loadoutValue,DEF_operators,DEF_Initiator,DEF_Sentinel,DEF_Controller,FinalWinner
95,0,0,0,26850,1,2,1,1,16850,0,0,2,1,0
96,50,0,49854,19750,0,2,0,1,16850,0,0,2,1,0
97,65,0,65352,19750,0,2,0,1,12150,0,0,1,1,0
98,66,0,65618,19750,0,2,0,1,8150,0,0,1,1,0
99,68,0,67747,14350,0,1,0,1,8150,0,0,1,1,0
100,69,0,68681,14350,0,1,0,1,6250,0,0,0,1,0
101,70,0,69716,9750,0,1,0,1,6250,0,0,0,1,0
102,83,0,83012,5400,0,1,0,0,6250,0,0,0,1,0
103,90,0,89638,0,0,0,0,0,6250,0,0,0,1,0