In [1]:
import json
import pandas as pd
from sql_queries import ValorantQueries

In [2]:
vq = ValorantQueries()
vq.set_match(43621)

Connected to database valorant successfully
[('teams',), ('roundevents',), ('players',), ('events',), ('series',), ('matches',), ('maps',), ('rounds',), ('roundeconomies',), ('roundlocations',), ('playermapinstance',), ('assists',)]

In [3]:
vq.aggregate_gamestate(5)

,Timestamp,EventType,ATK_Loadout_Value,ATK_Spread,ATK_Shield,ATK_Weapon_Price,ATK_Initiator,ATK_Duelist,ATK_Controller,Map_Name,...,DEF_Spread,DEF_Loadout_Value,DEF_Shield,DEF_Weapon_Price,DEF_Initiator,DEF_Duelist,DEF_Controller,DEF_Sentinel,DEF_has_OP,FinalWinner
0,0,start,24000,0.000000,250,14500,1,2,1,Icebox,...,0.000000,23250,200,16600,2,1,1,1,1,1
1,72891,kill,24000,190.295863,250,14500,1,2,1,Icebox,...,399.811147,18550,150,13700,2,1,1,0,1,1
2,73216,kill,18500,192.810376,200,11600,1,2,1,Icebox,...,430.281710,18550,150,13700,2,1,1,0,1,1
3,80084,kill,13900,211.463987,150,8700,0,2,1,Icebox,...,272.688024,18550,150,13700,2,1,1,0,1,1
4,80351,kill,13900,257.665641,150,8700,0,2,1,Icebox,...,270.320132,12900,125,8700,2,0,1,0,0,1
5,86246,kill,13900,196.345859,150,8700,0,2,1,Icebox,...,252.810508,8300,75,5800,1,0,1,0,0,1
6,88979,kill,13900,103.062265,150,8700,0,2,1,Icebox,...,322.981209,3700,25,2900,0,0,1,0,0,1
7,92160,plant,13900,132.320204,150,8700,0,2,1,Icebox,...,0.000000,3700,25,2900,0,0,1,0,0,1
8,95954,kill,13900,175.595798,150,8700,0,2,1,Icebox,...,0.000000,0,0,0,0,0,0,0,0,1

In [6]:
# Get score table where round_number == 1
score_table = vq.get_full_round()
score_table_df = pd.DataFrame(score_table, columns=["RoundID", "MatchID", "RoundNumber", "Attacking_Team", "WinningTeam", "Team_A_Economy", "Team_B_Economy", "Win_condition", "Ceremony"])
score_table_df = score_table_df[score_table_df["RoundNumber"] == 5]
attacking_team = int(score_table_df["Attacking_Team"])
winning_team = int(score_table_df["WinningTeam"])
winner = 1 if attacking_team == winning_team else 0
winner

1

In [3]:
vq.get_full_round()

[(695324, 43621, 1, 53, 53, 0, 0, 'kills', 'flawless'),
 (695325, 43621, 2, 53, 53, 3, 1, 'kills', 'team_ace'),
 (695326, 43621, 3, 53, 53, 3, 4, 'bomb', 'closer'),
 (695327, 43621, 4, 53, 53, 4, 3, 'bomb', 'default'),
 (695328, 43621, 5, 53, 53, 4, 4, 'kills', 'default'),
 (695329, 43621, 6, 53, 444, 4, 2, 'defuse', 'thrifty'),
 (695330, 43621, 7, 53, 444, 4, 4, 'defuse', 'default'),
 (695331, 43621, 8, 53, 444, 4, 4, 'defuse', 'default'),
 (695332, 43621, 9, 53, 53, 3, 4, 'kills', 'default'),
 (695333, 43621, 10, 53, 444, 4, 1, 'defuse', 'thrifty'),
 (695334, 43621, 11, 53, 444, 3, 4, 'defuse', 'default'),
 (695335, 43621, 12, 53, 444, 4, 4, 'time', 'default'),
 (695336, 43621, 13, 444, 444, 0, 0, 'kills', 'default'),
 (695337, 43621, 14, 444, 444, 1, 3, 'kills', 'default'),
 (695338, 43621, 15, 444, 53, 4, 3, 'kills', 'default'),
 (695339, 43621, 16, 444, 53, 4, 2, 'kills', 'flawless'),
 (695340, 43621, 17, 444, 53, 4, 4, 'time', 'default'),
 (695341, 43621, 18, 444, 53, 4, 3, 'defuse', 'default'),
 (695342, 43621, 19, 444, 53, 4, 3, 'kills', 'default'),
 (695343, 43621, 20, 444, 444, 4, 4, 'bomb', 'closer'),
 (695344, 43621, 21, 444, 53, 4, 3, 'defuse', 'default'),
 (695345, 43621, 22, 444, 53, 4, 3, 'defuse', 'default')]

In [ ]:
score_table

### AAA