In [1]:
from webscrapping.database.sql_queries import ValorantQueries
import pandas as pd

In [2]:
vq = ValorantQueries()
vq.set_match(43621)

Connected to database valorant successfully
[('teams',), ('roundevents',), ('players',), ('events',), ('series',), ('matches',), ('maps',), ('rounds',), ('roundeconomies',), ('roundlocations',), ('playermapinstance',), ('assists',)]

In [20]:
aux = vq.get_initial_state()
events = vq.get_event_table()
#player_names = aux["Player Name"].unique()
#pd.get_dummies(aux["Player Name"], prefix="Alive")
#pd.merge(events, aux, on="Round")
# Get aux columns "Round", "Player ID", "Player Name", "Status"
aux_lit = aux.loc[:, ["Round", "Player ID", "Player Name", "Status", "Alive_Bazzi"]]
aux_lit
#pd.merge(events, aux_lit, on="Round", how="inner")

     Round  Player ID Player Name Status  Alive_Bazzi
0        1       1843         ade  alive            0
1        1       1075       Bazzi  alive            1
2        1       1824      Fisker  alive            0
3        1       1877         frz  alive            0
4        1       3105      gtnziN  alive            0
..     ...        ...         ...    ...          ...
215     22        876    Munchkin  alive            0
216     22       2388        neth  alive            0
217     22       2895     Saadhak  alive            0
218     22       2294        Sacy  alive            0
219     22        194     sutecas  alive            0

[220 rows x 5 columns]

In [12]:
aux_a = aux[aux["Status"] == "alive"]
aux_b = aux.groupby(["Round", 'Team ID'])
agg_columns = ("Remaining Creds", "Loadout Value", "Weapon Price", 'Shield', 'Controller', 'Duelist', 'Initiator', 'Sentinel')
agg_dict = {col:'sum' for col in agg_columns}
agg_dict["Has Operator"] = "any"
aux_c = aux_b.agg(agg_dict).reset_index()
aux_c

,Round,Team ID,Remaining Creds,Loadout Value,Weapon Price,Shield,Controller,Duelist,Initiator,Sentinel,Has Operator
0,1,53,250,3950,1500,50,1,2,1,1,False
1,1,444,50,3750,1800,50,1,1,2,1,False
2,2,53,3800,16150,6800,250,1,2,1,1,False
3,2,444,7300,2850,800,0,1,1,2,1,False
4,3,53,14350,13650,6500,200,1,2,1,1,False
5,3,444,450,21250,14500,225,1,1,2,1,False
6,4,53,9200,23200,14500,250,1,2,1,1,False
7,4,444,7100,10250,5200,100,1,1,2,1,False
8,5,53,15900,24000,14500,250,1,2,1,1,False
9,5,444,750,23250,16600,200,1,1,2,1,True
10,6,53,22100,23200,14500,250,1,2,1,1,False
11,6,444,8900,7750,3400,100,1,1,2,1,False
12,7,53,11650,23200,14500,250,1,2,1,1,False
13,7,444,4450,24950,16600,225,1,1,2,1,True
14,8,53,4000,23050,14500,250,1,2,1,1,False
15,8,444,5150,24500,16600,225,1,1,2,1,True
16,9,53,3450,18800,12100,175,1,2,1,1,False
17,9,444,3350,22300,14500,250,1,1,2,1,True
18,10,53,7500,22450,14500,200,1,2,1,1,False
19,10,444,9950,4500,1600,0,1,1,2,1,False
20,11,53,8050,11800,7900,100,1,2,1,1,False
21,11,444,7850,25700,16600,250,1,1,2,1,True
22,12,53,1000,22700,14500,250,1,2,1,1,False
23,12,444,4850,26400,16600,250,1,1,2,1,True
24,13,53,250,3750,1800,0,1,2,1,1,False
25,13,444,250,3750,1500,50,1,1,2,1,False
26,14,53,8950,1650,800,0,1,2,1,1,False
27,14,444,1000,19000,8800,250,1,1,2,1,False
28,15,53,150,21400,14500,200,1,2,1,1,False
29,15,444,9500,17850,9000,250,1,1,2,1,False
30,16,53,3450,20400,13700,175,1,2,1,1,False
31,16,444,11100,9400,4400,100,1,1,2,1,False
32,17,53,15150,22350,13700,250,1,2,1,1,False
33,17,444,3650,21800,14500,200,1,1,2,1,False
34,18,53,19550,23200,14500,250,1,2,1,1,False
35,18,444,3500,17000,9700,225,1,1,2,1,False
36,19,53,14550,25300,16600,250,1,2,1,1,True
37,19,444,9450,11550,6300,125,1,1,2,1,False
38,20,53,16350,26600,16600,250,1,2,1,1,True
39,20,444,2800,23000,14500,250,1,1,2,1,False
40,21,53,5000,25200,16600,225,1,2,1,1,True
41,21,444,1600,19650,12900,200,1,1,2,1,False
42,22,53,10950,26250,16600,250,1,2,1,1,True
43,22,444,1100,16600,8700,250,1,1,2,1,False

'inverse'