# <font color='brown'>Setup </font>

In [12]:
import pandas as pd
from sklearn.model_selection import train_test_split, cross_val_score
import lightgbm

In [45]:
path = 'D:\\Documents\\GitHub\\Classification_datascience\\webscrapping\\matches\\rounds\\'
df = pd.read_csv('{}combined_csv.csv'.format(path))

In [46]:
df = df.drop(['bestOF', 'RoundNumber', 'SeriesID', 'MatchID', 'RoundID', 'RoundTime'], axis=1)
df = pd.get_dummies(df, columns=['MapName'])

In [47]:
X = df.drop(['FinalWinner'], axis='columns')
Y = df.FinalWinner
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, train_size=0.8, test_size=0.2, random_state=15)

In [48]:
%%time
params = pd.read_csv('model_params.csv', index_col=False)
params = params.to_dict('records')[0]
params

Wall time: 2.99 ms

{'bagging_freq': 6,
 'min_data_in_leaf': 6,
 'max_depth': 16,
 'learning_rate': 0.0979917818893467,
 'num_leaves': 65,
 'num_threads': 4,
 'min_sum_hessian_in_leaf': 6}

In [49]:
model = lightgbm.LGBMClassifier(bagging_freq=params["bagging_freq"], min_data_in_leaf=params["min_data_in_leaf"],
                                max_depth=params["max_depth"],
                                learning_rate=params["learning_rate"], num_leaves=params["num_leaves"],
                                num_threads=params["num_threads"], min_sum_hessian_in_leaf=params["min_sum_hessian_in_leaf"])
model.fit(X_train, Y_train)

[LightGBM] [Warning] min_data_in_leaf is set=6, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=6
[LightGBM] [Warning] min_sum_hessian_in_leaf is set=6, min_child_weight=0.001 will be ignored. Current value: min_sum_hessian_in_leaf=6
[LightGBM] [Warning] num_threads is set=4, n_jobs=-1 will be ignored. Current value: num_threads=4
[LightGBM] [Warning] bagging_freq is set=6, subsample_freq=0 will be ignored. Current value: bagging_freq=6

LGBMClassifier(bagging_freq=6, learning_rate=0.0979917818893467, max_depth=16,
               min_data_in_leaf=6, min_sum_hessian_in_leaf=6, num_leaves=65,
               num_threads=4)

# <font color='brown'>Dataframe </font>

In [50]:
df = pd.read_csv('{}combined_csv.csv'.format(path))

In [51]:
df.head()

,RoundID,RoundNumber,RoundTime,ATK_wealth,DEF_wealth,ATK_alive,DEF_alive,DEF_has_OP,Def_has_Odin,RegularTime,SpikeTime,MapName,MatchID,SeriesID,bestOF,FinalWinner
0,315892,1,0,500.0,0.0,5,5,0,0,0,0,Haven,20000,10448,1,0
1,315892,1,21250,500.0,0.0,5,4,0,0,21,0,Haven,20000,10448,1,0
2,315892,1,21911,400.0,0.0,4,4,0,0,22,0,Haven,20000,10448,1,0
3,315892,1,23629,300.0,0.0,3,4,0,0,24,0,Haven,20000,10448,1,0
4,315892,1,25601,200.0,0.0,2,4,0,0,26,0,Haven,20000,10448,1,0

In [52]:
class RoundReplay:
    def __init__(self, match_id: int):
        self.match_id = match_id
        self.query = df.query('MatchID == {}'.format(match_id))
        self.round_table = self.get_round_table()
        
    def get_round_table(self) -> dict:
        g = self.query[["RoundNumber", "RoundID"]]
        g.drop_duplicates()
        return dict(zip(g.RoundNumber, g.RoundID))
    
    def get_round_id(self, round_index: int) -> int:
        return self.round_table[round_index]
    
    def get_round_dataframe(self, round_index: int):
        return df.query('RoundID == {}'.format(self.get_round_id(round_index)))

In [53]:
rr = RoundReplay(25645)

In [54]:
rr.get_round_table()

{1: 402101,
 2: 402102,
 3: 402103,
 4: 402104,
 5: 402105,
 6: 402106,
 7: 402107,
 8: 402108,
 9: 402109,
 10: 402110,
 11: 402111,
 12: 402112,
 13: 402113,
 14: 402114,
 15: 402115,
 16: 402116,
 17: 402117,
 18: 402118,
 19: 402119,
 20: 402120,
 21: 402121}

In [55]:
rr.get_round_id(20)

402120

In [94]:
table = rr.get_round_dataframe(19)
table = table.drop(['bestOF', 'RoundNumber', 'SeriesID', 'MatchID', 'RoundID', 'RoundTime', 'FinalWinner'], axis=1)
current_map = table.MapName.max()
map_names = ["Ascent", "Bind", "Breeze", "Haven", "Icebox", "Split"]
map_names.remove(current_map)
table = pd.get_dummies(table, columns=['MapName'])
for item in map_names:
    table['MapName_{}'.format(item)] = 0
features=list(table.columns)
table

,ATK_wealth,DEF_wealth,ATK_alive,DEF_alive,DEF_has_OP,Def_has_Odin,RegularTime,SpikeTime,MapName_Ascent,MapName_Bind,MapName_Breeze,MapName_Haven,MapName_Icebox,MapName_Split
238951,2960.0,3380.0,5,5,1,1,0,0,1,0,0,0,0,0
238952,2960.0,2740.0,5,4,1,0,1,0,1,0,0,0,0,0
238953,2380.0,2740.0,4,4,1,0,53,0,1,0,0,0,0,0
238954,1800.0,2740.0,3,4,1,0,55,0,1,0,0,0,0,0
238955,1800.0,2160.0,3,3,1,0,57,0,1,0,0,0,0,0
238956,1800.0,2160.0,3,3,1,0,70,0,1,0,0,0,0,0
238957,1800.0,1580.0,3,2,1,0,0,19,1,0,0,0,0,0
238958,1800.0,580.0,3,1,0,0,0,21,1,0,0,0,0,0
238959,1220.0,580.0,2,1,0,0,0,26,1,0,0,0,0,0
238960,640.0,580.0,1,1,0,0,0,31,1,0,0,0,0,0
238961,640.0,0.0,1,0,0,0,0,32,1,0,0,0,0,0

In [87]:
for row in table.iterrows():
    aux = row[1].to_numpy().reshape(1,-1)
    prob = model.predict_proba(aux)
    print(prob)

[[0.60487617 0.39512383]]
[[0.34118535 0.65881465]]
[[0.50537553 0.49462447]]
[[0.7348721 0.2651279]]
[[0.52977399 0.47022601]]
[[0.56058532 0.43941468]]
[[0.19976074 0.80023926]]
[[0.02406736 0.97593264]]
[[0.10395372 0.89604628]]
[[0.40077497 0.59922503]]
[[0.03641218 0.96358782]]

c:\users\mateu\appdata\local\programs\python\python38\lib\site-packages\lightgbm\basic.py:448: UserWarning: Usage of np.ndarray subset (sliced data) is not recommended due to it will double the peak memory cost in LightGBM.
  _log_warning("Usage of np.ndarray subset (sliced data) is not recommended "
c:\users\mateu\appdata\local\programs\python\python38\lib\site-packages\lightgbm\basic.py:448: UserWarning: Usage of np.ndarray subset (sliced data) is not recommended due to it will double the peak memory cost in LightGBM.
  _log_warning("Usage of np.ndarray subset (sliced data) is not recommended "
c:\users\mateu\appdata\local\programs\python\python38\lib\site-packages\lightgbm\basic.py:448: UserWarning: Usage of np.ndarray subset (sliced data) is not recommended due to it will double the peak memory cost in LightGBM.
  _log_warning("Usage of np.ndarray subset (sliced data) is not recommended "
c:\users\mateu\appdata\local\programs\python\python38\lib\site-packages\lightgbm\basic.py:448: UserWarning: Usage of np.ndarray subset (sliced data) is not recommended due to it will double the peak memory cost in LightGBM.
  _log_warning("Usage of np.ndarray subset (sliced data) is not recommended "
c:\users\mateu\appdata\local\programs\python\python38\lib\site-packages\lightgbm\basic.py:448: UserWarning: Usage of np.ndarray subset (sliced data) is not recommended due to it will double the peak memory cost in LightGBM.
  _log_warning("Usage of np.ndarray subset (sliced data) is not recommended "
c:\users\mateu\appdata\local\programs\python\python38\lib\site-packages\lightgbm\basic.py:448: UserWarning: Usage of np.ndarray subset (sliced data) is not recommended due to it will double the peak memory cost in LightGBM.
  _log_warning("Usage of np.ndarray subset (sliced data) is not recommended "
c:\users\mateu\appdata\local\programs\python\python38\lib\site-packages\lightgbm\basic.py:448: UserWarning: Usage of np.ndarray subset (sliced data) is not recommended due to it will double the peak memory cost in LightGBM.
  _log_warning("Usage of np.ndarray subset (sliced data) is not recommended "
c:\users\mateu\appdata\local\programs\python\python38\lib\site-packages\lightgbm\basic.py:448: UserWarning: Usage of np.ndarray subset (sliced data) is not recommended due to it will double the peak memory cost in LightGBM.
  _log_warning("Usage of np.ndarray subset (sliced data) is not recommended "
c:\users\mateu\appdata\local\programs\python\python38\lib\site-packages\lightgbm\basic.py:448: UserWarning: Usage of np.ndarray subset (sliced data) is not recommended due to it will double the peak memory cost in LightGBM.
  _log_warning("Usage of np.ndarray subset (sliced data) is not recommended "
c:\users\mateu\appdata\local\programs\python\python38\lib\site-packages\lightgbm\basic.py:448: UserWarning: Usage of np.ndarray subset (sliced data) is not recommended due to it will double the peak memory cost in LightGBM.
  _log_warning("Usage of np.ndarray subset (sliced data) is not recommended "
c:\users\mateu\appdata\local\programs\python\python38\lib\site-packages\lightgbm\basic.py:448: UserWarning: Usage of np.ndarray subset (sliced data) is not recommended due to it will double the peak memory cost in LightGBM.
  _log_warning("Usage of np.ndarray subset (sliced data) is not recommended "

In [97]:
table["predictions"] = table[features].apply(
    lambda s: model.predict_proba(s.values[None])[0][1], axis=1
)

c:\users\mateu\appdata\local\programs\python\python38\lib\site-packages\lightgbm\basic.py:448: UserWarning: Usage of np.ndarray subset (sliced data) is not recommended due to it will double the peak memory cost in LightGBM.
  _log_warning("Usage of np.ndarray subset (sliced data) is not recommended "
c:\users\mateu\appdata\local\programs\python\python38\lib\site-packages\lightgbm\basic.py:448: UserWarning: Usage of np.ndarray subset (sliced data) is not recommended due to it will double the peak memory cost in LightGBM.
  _log_warning("Usage of np.ndarray subset (sliced data) is not recommended "
c:\users\mateu\appdata\local\programs\python\python38\lib\site-packages\lightgbm\basic.py:448: UserWarning: Usage of np.ndarray subset (sliced data) is not recommended due to it will double the peak memory cost in LightGBM.
  _log_warning("Usage of np.ndarray subset (sliced data) is not recommended "
c:\users\mateu\appdata\local\programs\python\python38\lib\site-packages\lightgbm\basic.py:448: UserWarning: Usage of np.ndarray subset (sliced data) is not recommended due to it will double the peak memory cost in LightGBM.
  _log_warning("Usage of np.ndarray subset (sliced data) is not recommended "
c:\users\mateu\appdata\local\programs\python\python38\lib\site-packages\lightgbm\basic.py:448: UserWarning: Usage of np.ndarray subset (sliced data) is not recommended due to it will double the peak memory cost in LightGBM.
  _log_warning("Usage of np.ndarray subset (sliced data) is not recommended "
c:\users\mateu\appdata\local\programs\python\python38\lib\site-packages\lightgbm\basic.py:448: UserWarning: Usage of np.ndarray subset (sliced data) is not recommended due to it will double the peak memory cost in LightGBM.
  _log_warning("Usage of np.ndarray subset (sliced data) is not recommended "
c:\users\mateu\appdata\local\programs\python\python38\lib\site-packages\lightgbm\basic.py:448: UserWarning: Usage of np.ndarray subset (sliced data) is not recommended due to it will double the peak memory cost in LightGBM.
  _log_warning("Usage of np.ndarray subset (sliced data) is not recommended "
c:\users\mateu\appdata\local\programs\python\python38\lib\site-packages\lightgbm\basic.py:448: UserWarning: Usage of np.ndarray subset (sliced data) is not recommended due to it will double the peak memory cost in LightGBM.
  _log_warning("Usage of np.ndarray subset (sliced data) is not recommended "
c:\users\mateu\appdata\local\programs\python\python38\lib\site-packages\lightgbm\basic.py:448: UserWarning: Usage of np.ndarray subset (sliced data) is not recommended due to it will double the peak memory cost in LightGBM.
  _log_warning("Usage of np.ndarray subset (sliced data) is not recommended "
c:\users\mateu\appdata\local\programs\python\python38\lib\site-packages\lightgbm\basic.py:448: UserWarning: Usage of np.ndarray subset (sliced data) is not recommended due to it will double the peak memory cost in LightGBM.
  _log_warning("Usage of np.ndarray subset (sliced data) is not recommended "
c:\users\mateu\appdata\local\programs\python\python38\lib\site-packages\lightgbm\basic.py:448: UserWarning: Usage of np.ndarray subset (sliced data) is not recommended due to it will double the peak memory cost in LightGBM.
  _log_warning("Usage of np.ndarray subset (sliced data) is not recommended "

In [98]:
table

,ATK_wealth,DEF_wealth,ATK_alive,DEF_alive,DEF_has_OP,Def_has_Odin,RegularTime,SpikeTime,MapName_Ascent,MapName_Bind,MapName_Breeze,MapName_Haven,MapName_Icebox,MapName_Split,predictions
238951,2960.0,3380.0,5,5,1,1,0,0,1,0,0,0,0,0,0.395124
238952,2960.0,2740.0,5,4,1,0,1,0,1,0,0,0,0,0,0.658815
238953,2380.0,2740.0,4,4,1,0,53,0,1,0,0,0,0,0,0.494624
238954,1800.0,2740.0,3,4,1,0,55,0,1,0,0,0,0,0,0.265128
238955,1800.0,2160.0,3,3,1,0,57,0,1,0,0,0,0,0,0.470226
238956,1800.0,2160.0,3,3,1,0,70,0,1,0,0,0,0,0,0.439415
238957,1800.0,1580.0,3,2,1,0,0,19,1,0,0,0,0,0,0.800239
238958,1800.0,580.0,3,1,0,0,0,21,1,0,0,0,0,0,0.975933
238959,1220.0,580.0,2,1,0,0,0,26,1,0,0,0,0,0,0.896046
238960,640.0,580.0,1,1,0,0,0,31,1,0,0,0,0,0,0.599225
238961,640.0,0.0,1,0,0,0,0,32,1,0,0,0,0,0,0.963588

In [99]:
table.predictions

238951    0.395124
238952    0.658815
238953    0.494624
238954    0.265128
238955    0.470226
238956    0.439415
238957    0.800239
238958    0.975933
238959    0.896046
238960    0.599225
238961    0.963588
Name: predictions, dtype: float64

In [101]:
rr.get_round_dataframe(19)

,RoundID,RoundNumber,RoundTime,ATK_wealth,DEF_wealth,ATK_alive,DEF_alive,DEF_has_OP,Def_has_Odin,RegularTime,SpikeTime,MapName,MatchID,SeriesID,bestOF,FinalWinner
238951,402119,19,0,2960.0,3380.0,5,5,1,1,0,0,Ascent,25645,12745,3,1
238952,402119,19,1284,2960.0,2740.0,5,4,1,0,1,0,Ascent,25645,12745,3,1
238953,402119,19,52556,2380.0,2740.0,4,4,1,0,53,0,Ascent,25645,12745,3,1
238954,402119,19,54650,1800.0,2740.0,3,4,1,0,55,0,Ascent,25645,12745,3,1
238955,402119,19,56577,1800.0,2160.0,3,3,1,0,57,0,Ascent,25645,12745,3,1
238956,402119,19,69998,1800.0,2160.0,3,3,1,0,70,0,Ascent,25645,12745,3,1
238957,402119,19,88861,1800.0,1580.0,3,2,1,0,0,19,Ascent,25645,12745,3,1
238958,402119,19,90958,1800.0,580.0,3,1,0,0,0,21,Ascent,25645,12745,3,1
238959,402119,19,96224,1220.0,580.0,2,1,0,0,0,26,Ascent,25645,12745,3,1
238960,402119,19,101430,640.0,580.0,1,1,0,0,0,31,Ascent,25645,12745,3,1
238961,402119,19,101811,640.0,0.0,1,0,0,0,0,32,Ascent,25645,12745,3,1